<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>shopping List</title>
    </head>
    <style>
        .strikeout {
            text-decoration: line-through;
        }
    </style>
    <body>
        <div id="shopping-list">

            <div class="header">
                {{ header.toLocaleUpperCase() }}
                <button v-if="state === 'default'" @click="changeState('edit')">Add Item</button>
                <button v-else @click="changeState('default')">Cancel</button>
            </div>
            <div v-if="state === 'edit'">
                <input v-model="newItem" type="text" placeholder="Add an intem" @keyup.enter="saveItem">
                <p>{{ characterCount }}/200</p>
                <button @click="saveItem" :disabled="newItem.length === 0">Save Item</button>
            </div>
            <ul>
                <li v-for="item in reversedItems" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li>
            </ul>
            <p v-if="items.length === 0">Nice job! You've bougth all your items</p>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script>
            var shopping = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: 'Shopping List App',
                    newItem: "",
                    items: [
                        {
                            label: '2 Papas',
                            purchased: false
                        }, {
                            label: '5 Limones',
                            purchased: true
                        }, {
                            label: '4 Peras',
                            purchased: false
                        }
                    ]
                },
                computed: {
                    characterCount() {
                        return this.newItem.length;
                    },
                    reversedItems() {
                        return this.items.slice(0).reverse();
                    }
                },
                methods: {
                    saveItem: function () {
                        this.items.push({label: this.newItem, purchased: false});
                        this.newItem = '';

                    },
                    changeState: function (newState) {
                        this.state = newState;
                        this.newItem = '';
                    },
                    togglePurchased: function (item) {
                        item.purchased = ! item.purchased
                    }
                }
            })
        </script>
    </body>
</html>
