<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>shopping List</title>
    </head>
    <body>
        <div id="shopping-list">

            <div class="header">
                {{ header.toLocaleUpperCase() }}
                <button v-if="state === 'default'" @click="changeState('edit')">Add Item</button>
                <button v-else @click="changeState('default')">Cancel</button>
            </div>
            <div v-if="state === 'edit'">
                <input v-model="newItem" type="text" placeholder="Add an intem" @keyup.enter="saveItem">
                <button @click="saveItem" :disabled="newItem.length === 0">Save Item</button>
            </div>
            <ul>
                <li v-for="item in items">{{ item }}</li>
            </ul>
            <p v-if="items.length === 0">Nice job! You've bougth all your items</p>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script>
            var shopping = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: "Shopping List App",
                    newItem: "",
                    items: [/*'10 Limones', '2 Peras', '4 Banano'*/
                    ]
                },
                methods: {
                    saveItem: function () {
                        this.items.push(this.newItem);
                        this.newItem = '';

                    },
                    changeState: function (newState) {
                        this.state = newState;
                        this.newItem = '';
                    }
                }
            })
        </script>
    </body>
</html>
